<!DOCTYPE html>
<html>
  <head>
    <title>Bratwurst SSO Tester</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= form_tag do %>
      <%= hidden_field_tag(:payload, payload) %>

      <%= label(:user, :name) %>
      <%= text_field(:user, :name) %><br/>

      <%= label(:user, :username) %>
      <%= text_field(:user, :username) %><br/>

      <%= label(:user, :email) %>
      <%= email_field(:user, :email) %><br/>

      <%= label(:user, :external_id, 'External ID') %>
      <%= text_field(:user, :external_id) %><br/>

      <br/>

      <%= label(:user, :require_2fa, 'Require 2FA?') %>
      <%= check_box(:user, :require_2fa) %><br/>

      <%= label(:user, :confirmed_2fa, 'Confirmed 2FA?') %>
      <%= check_box(:user, :confirmed_2fa) %><br/>

      <br/>

      <%= label(:user, :avatar_url, 'Avatar URL') %>
      <%= text_field(:user, :avatar_url) %><br/>

      <%= label(:user, :avatar_force_update, 'Force avatar update') %>
      <%= check_box(:user, :avatar_force_update) %><br/>

      <br/>

      <%= label(:user, :add_groups, 'Add Groups') %>
      <%= text_field(:user, :add_groups) %><br/>

      <%= label(:user, :remove_groups, 'Remove Groups') %>
      <%= text_field(:user, :remove_groups) %><br/>
    
      <%= label(:user, :groups, 'Specify Groups') %>
      <%= text_field(:user, :groups) %><br/>

      <br/>

      <%= label(:user, :admin, 'Admin?') %>
      <%= check_box(:user, :admin) %><br/>
      
      <%= label(:user, :moderator, 'Moderator?') %>
      <%= check_box(:user, :moderator) %><br/>

      <%= label(:user, :require_activation, 'Require activation?') %>
      <%= check_box(:user, :require_activation) %><br/>
    
      <%= label(:user, :suppress_welcome_message, 'Suppress welcome message?') %>
      <%= check_box(:user, :suppress_welcome_message) %><br/>

      <hr/>

      <%= submit_tag "Login" %>
    <% end %>
  </body>
</html>
